@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');
:root{
  --bgDark:#2056B3  ;
  --bgMedium:#488BFF ;
  --bgLight:#619BFF  ; 
  --contrastColor:#FFCA5C ;
  --contrastColorDark:#B37E0E ;
  --text:rgb(208, 211, 241);
  --h1:2.5rem;
  --h2:2rem;
  --h3:1.5rem;
  --fontMedium:1.3rem;
  --fontSmall:1rem;
  --marginLarge:1rem;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Fuzzy Bubbles';
}
html{
  font-size: 62.5%;
  background-color: var(--bgDark);
  color: var(--text);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main{
  display: flex;
  flex-direction: column;
}
.navBar{
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--bgLight) 4px solid;
  background-color: var(--bgMedium);
  padding: var(--marginLarge);
}
.navBar #menuIcon{
  position: absolute;
  left: 1rem;
  font-size: var(--h1);
}
.navBar h1{
  font-size: var(--h1);
}
.intro{
  margin-top: var(--marginLarge);
  text-align: center;
  border: var(--bgLight) 4px solid;
  background-color: var(--bgMedium);
  font-size: var(--fontMedium);
  padding: var(--marginLarge);
}
.intro h2{
  display: inline-block;
  text-align: center;
  font-size: var(--h2);
}
.index{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  gap: 1rem;
  margin-top: var(--marginLarge);
  padding: var(--marginLarge);
  font-size: var(--fontMedium);
  border: var(--bgLight) 4px solid;
  background-color: var(--bgMedium);
}
.index h2{
  text-align: center;
  grid-column-start:1 ;
  font-size: var(--h2);
  grid-column-end: 4;
}
.index h3{
  font-size: var(--h3);

}
.index section{
  text-align: center;
  border: var(--bgLight) 4px solid;
  
}
.index section ol{
  list-style: none;
}
.index ol li{
  padding: .5rem;
}
footer{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  border: var(--bgLight) 4px solid;
  background-color: var(--bgMedium);
}
a{
  color: var(--text);
  text-decoration: none;
  transition:.3s;
  -webkit-transition:.3s;
  -moz-transition:.3s;
  -ms-transition:.3s;
  -o-transition:.3s;
}
a:hover{
  color: var(--contrastColor);
}
.navBar .navRight i:hover{
  border: var(--contrastColor)solid;
}
.index li:hover{
  background-color:var(--bgLight) ;
  transition: .3s;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
}
.inactive{
  display: none;
}
.navRight{
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bgMedium);
  
}
#searchCtn{
  margin-top: 5rem;
  order: 1;
  border-radius: 10rem;
  position: relative;
  display: flex;
  border: solid 4px var(--bgLight);
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}
#searchCtn input{
  padding: 0 5rem 0 var(--marginLarge );
  border-style: hidden;
  border-radius: 10rem;
  width: 100%;
  font-size: var(--fontMedium);
  -webkit-border-radius: 10rem;
  -moz-border-radius: 10rem;
  -ms-border-radius: 10rem;
  -o-border-radius: 10rem;
}
#searchCtn input:focus{
  outline: none;
}
#searchIcon{
  border-radius:0 10rem 10rem 0;
  position: absolute;
  right: 0px;
  border-radius: 0%;
  -webkit-border-radius:0 10rem 10rem 0;
  -moz-border-radius:0 10rem 10rem 0;
  -ms-border-radius:0 10rem 10rem 0;
  -o-border-radius:0 10rem 10rem 0;
  border: none;
  height: 100%;
  display: grid;
  place-items: center;
  padding: .5rem;
}
#menuCtn{
  display: none;
}
#menuMobile{
  width: 100%;
  order: 2;
  margin-top: var(--marginLarge);
  padding: var(--marginLarge);
  font-size: var(--fontMedium);
}
#menuMobile h3{
  font-size: var(--h3);
}
#menuMobile section{
  margin-top: 2rem;
  border: var(--bgLight) 4px solid;
  text-align: center;
}
#menuMobile section ol{
  list-style: none;
}
#menuMobile ol li{
  padding: .5rem;
}
.navBar .navRight i{
  display: grid;
  place-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: solid var(--text) 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.socialMediaCtn{
  order: 2;
  display: flex;
  gap: 1rem;
  padding-bottom: 3rem;
}
#closeMenuMobile{
  display: grid;
  place-items: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 3rem;
  height: 3rem;
}